<h1> <%= @friend.full_name %></h1>
<p>Age: <%= @friend.age %></p>
<p>Hair Color: <%= @friend.hair_color %></p>
<p>Eye Color: <%= @friend.eye_color %></p>
<p>Birth Date: <%= @friend.alive %> </p>

<%= link_to 'Edit', edit_friend_path(@friend) %>
